@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 235, 235, 235;
}

/*
 * no dark/light mode for now, to keep it simple
 *
 * @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}*/

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  width: 100vw;
  height: 100vh;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

