@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 230, 230, 230;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
    width: 100vw;
    height: 100vh;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.realtime-value {
    background: none;
    border: none;
}
