.idea/
.vscode/
.fleet/
.zed/

target/

.DS_Store
ui-backend/temp-database/*
# Environment configuration
.env

# Secrets folder
.secrets

# Nix output
result
# Production builder output
.out

localhost.crt
localhost.key

# Sensor communication
/uploads
