{$DOMAIN_NAME} {
    handle /twin.TwinService/* {
        reverse_proxy grpcwebpoxy:8081
    }
    handle /authentication.auth.AuthenticationService/* {
        reverse_proxy grpcwebpoxy:8081
    }
    handle /simulation.frontend.SimulationInterfaceService/* {
        reverse_proxy grpcwebpoxy:8081
    }
    handle /sensor.crud.SensorCRUDService/* {
        reverse_proxy grpcwebpoxy:8081
    }
    handle /sensor.data_fetching.SensorDataFetchingService/* {
        reverse_proxy grpcwebpoxy:8081
    }

    reverse_proxy frontend:3000
}
